<link href='https://fonts.googleapis.com/css?family=Changa' rel='stylesheet'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="row">
    <div class="col-9">
        <input id="messageInputId" name="messageInput" [(ngModel)]="messageInput" type="text" placeholder="Hvad har du lavet?" (input)="updateMessageValue()">
    </div>
    <div class="col-3 counter-box">
        <div class="counter-clock">
            <h4 id="counter">{{diff | clockfomatter }}</h4>
        </div>
        <div  class="counter-icon">
            <i class="material-icons md36" (click)="toggleCounter()">{{counterIsRunning ==true ? 'pause_circle_outline' : 'play_circle_outline'}}</i>
        </div>
    </div>
</div>

