#counter{
    font-family: 'Changa';
    font-size: 130%;
}

.errorMessage{
    border-bottom-color: red;
}
.errorMessage::placeholder{
    color: red;
}

#messageInput{
    border-bottom-color: #555555;
}

#messageInput::placeholder {
    color: black;
    opacity: 1;
}
::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}
.row {
    margin: 0;
}
.row .col-9 {
    margin: -7px 0 0 0;
}
.row .col-9 input {
    margin: 0;
}

.counter-box {
    position: relative;
}
.counter-clock {
    position: absolute;
    left: 15px;
    top: 5px;
}
.counter-icon {
    position: absolute;
    left: 130px;
}
