<script src="../../../../node_modules/angular-ticking-clock/dist/angular-ticking-clock.js"></script>
<div class="example-wrapper" xmlns="">
  <label class="example-input-wrapper">
    Fik du ik started din timer? Sæt din start og slut tid her istedet for:
    <input placeholder="Start tid:"
           [(ngModel)]="startTime"
           [owlDateTimeTrigger]="startTimeOwl" [owlDateTime]="startTimeOwl">
    <owl-date-time [pickerType]="'timer'" #startTimeOwl></owl-date-time>

    <input placeholder="Slut tid:"
           [(ngModel)]="endTime"
           [owlDateTimeTrigger]="endTimeOwl" [owlDateTime]="endTimeOwl">
    <owl-date-time [pickerType]="'timer'" #endTimeOwl></owl-date-time>
  </label>
  <button (click)="addTime()" class="btn">TRYK MIG</button>
</div>
