<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<br><br><br>
<mat-toolbar color="accent">
  <mat-toolbar-row>
    <div class="container">
      <div class="d-flex">
        <div class="p-2">
          <p>Timer</p>
        </div>
        <div class="p-2">
          <app-counter></app-counter>
        </div>
        <div class="ml-auto p-2">
          <i id="logout" (click)="AuthenticationService.logout()" class="material-icons md36">exit_to_app</i>
          <span id="tooltiptext" style="visibility: hidden">Logout</span>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container" *ngIf="(fireAuth.user | async)">

  <router-outlet></router-outlet>
</div>
<div *ngIf="!(fireAuth.user | async)">
  <app-login-page></app-login-page>
</div>