<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<table>
    <thead>
        <tr>
            <th>Hvad lavede du?</th>
            <th>Hvonår startede du?</th>
            <th>Hvornår sluttede du?</th>
            <th>Hvor lang tid brugte du?</th>
            <th></th>
        </tr>
    </thead>
        <tr *ngFor="let timelog of timeLogsData">
            <td><input type="text" value="{{timelog.data.message}}"></td>
            <td><input type="text" value="{{timelog.data.startTime}}"></td>
            <td><input type="text" value="{{timelog.data.endTime}}"></td>
            <td>{{timelog.data.diff | clockfomatter}}</td>
            <td><i id="deleteIcon" (click)="deleteLog(timelog.ref.path)" class="material-icons md18">delete</i></td>
        </tr>
</table>