<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Work Hours</th>
            <th></th>
        </tr>
    </thead>
        <tr *ngFor="let timelog of (timelogs | async)">
            <td (click)="updateLogState(timelog.ref.id)">
                <input title="message" [disabled]="disabledTimelog(timelog)" disabled type="text" [(ngModel)]="timelog.data.message" (blur)="updateLog(timelog)">
            </td>
            <td class="w-25" (click)="updateLogState(timelog.ref.id)">
                <input
                        title="startTime"
                        [disabled]="disabledTimelog(timelog)"
                        [owlDateTimeTrigger]="sdt"
                        [owlDateTime]="sdt"
                        type="text"
                        [(ngModel)]="timelog.data.startTime"
                        (blur)="updateLog(timelog)">
                <owl-date-time #sdt></owl-date-time>
            </td>
            <td class="w-25" (click)="updateLogState(timelog.ref.id)">
                <input
                        title="endTime"
                        [disabled]="disabledTimelog(timelog)"
                        [owlDateTimeTrigger]="edt"
                        [owlDateTime]="edt"
                        type="text"
                        [(ngModel)]="timelog.data.endTime"
                        (blur)="updateLog(timelog)">
                <owl-date-time #edt></owl-date-time>
            </td>
            <td (click)="updateLogState(timelog.ref.id)">
                {{timelog.data.diff | clockfomatter}}
            </td>
            <td>
                <i id="doneIcon" *ngIf="!disabledTimelog(timelog)" (click)="updateLogState('')" class="material-icons md18">done</i>
                <i id="updateIcon" *ngIf="disabledTimelog(timelog)" (click)="updateLogState(timelog.ref.id)" class="material-icons md18">create</i>
                <i id="deleteIcon" (click)="deleteLog(timelog.ref.path)" class="material-icons md18">delete</i>
            </td>
        </tr>
</table>