/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

.material-icons {
    cursor: pointer;
}

.material-icons.md18 { font-size: 18px; }
.material-icons.md24 { font-size: 24px; }
.material-icons.md36 { font-size: 36px; }
.material-icons.md48 { font-size: 48px; }